
.body-text{
    display: inline-block;
    position: relative;
    padding: 100px 0;
    background-color: #fff;
    color: #ffffff;
    background-color: rgba(37, 55, 60,0.9);
    font-size: 18px;
    width: 55vw;
    height: 60vh;
    text-align: center;
    clip-path: polygon(0 0,100% 0,80% 100%,0 100%);
    
}
.body-text::after {
    content: ' ';
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color:#25373C;
    z-index: -1;
    transition: 0.3s ease-out;
}
/* .body-text:hover{
    background-color: transparent;
} */
.body-text:hover::after{
    width: 100%;
}

.body-text h2{
    font-size: 42px;
    font-weight: normal;
    margin-bottom: 80px;
}
.body-text .intro-t{
    position: relative;
    height: 30vh;
}

@media (max-width: 900px){

    .body-text p{
        width: 100%;
    }

}