#project{
  position: absolute;

  right: 0;
  display: inline-block;
  width:60vw;
  height: 60vh;
  clip-path: polygon(20% 0,100% 0,100% 100%,6.5% 100%);
  background-color: rgb(232, 208, 208);
}
#project::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width:0 ;
  height: 100%;
  background-color: rgb(255, 177, 177);
  transition: all 0.3s ease-out;
}
#project:hover::before{
  width: 100%;
}
#drag-container, #spin-container {

  height: 100%;
  position: relative;
  display: flex;
  margin: auto;
  margin-right: 20%;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
  transform: rotateX(-10deg);
}
 
#drag-container img, #drag-container video {
  transform-style: preserve-3d;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 200px;
  font-size: 50px;
  text-align: center;
  box-shadow: 0 0 8px #fff;
  -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0005);
}
 
#drag-container img:hover, #drag-container video:hover {
  box-shadow: 0 0 15px #fffd;
  -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0007);
}
 
#drag-container p {
  font-family: Serif;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%,-50%) rotateX(90deg);
  color: #fff;
}
 
#ground {
  width: 900px;
  height: 900px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%,-50%) rotateX(90deg);
  background: -webkit-radial-gradient(center center, farthest-side , #9993, transparent);
}
 
#music-container {
  position: absolute;
  top: 0;
  left: 0;
}
 
#carousel-container {
  width: 100%;
  height: 100%;
}
 
@keyframes spin {
  from{
    transform: rotateY(0deg);
  } to{
    transform: rotateY(360deg);
  }
}
@keyframes spinRevert {
  from{
    transform: rotateY(360deg);
  } to{
    transform: rotateY(0deg);
  }
}